<!-- Start Content -->
@defer () {

<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3">
        <ul class="list-unstyled">
          <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none poppins-regular"
              data-bs-toggle="collapse" href="#collapseGender" role="button" aria-expanded="false"
              aria-controls="collapseGender">Categorias
              <i class="fa fa-fw fa-chevron-circle-down mt-1" style="color: #4c2f00"></i>
            </a>
            <ul class="collapse list-unstyled ps-3" id="collapseGender">
              <li>
                <a class="text-decoration-none poppins-regular" style="cursor: pointer;"
                  (click)="onSelectCategory($event)">Maderas
                  solidas</a>
              </li>
              <li>
                <a class="text-decoration-none poppins-regular" style="cursor: pointer;"
                  (click)="onSelectCategory($event)">Prefabricados</a>
              </li>
            </ul>
          </li>
          <!-- Similar structure for other categories -->
        </ul>
      </div>

      <div class="col-lg-9 ">
        <div class="row">
          @for (item of productos | paginate: { itemsPerPage: 12, currentPage: p } ; track item.id) {
          <div class="col-md-4 d-flex">
            <div class="card mb-4 rounded-0 hover d-flex flex-column" style="cursor: pointer;"
              [routerLink]="['/productos', item.id]">
              <div class="card rounded-0">
                <img class="card-img rounded-0 img-fluid" [src]="item.image"
                  style="object-position: center; object-fit: cover; min-height: 535px;" />
              </div>
              <div class="card-body d-flex flex-column">
                <a [routerLink]="['/productos', item.id]" class="h3 text-decoration-none">{{ item.name }}</a>
                <ul class="w-100 list-unstyled d-flex justify-content-between mt-auto">
                  <li>{{item.descriptions}}</li>

                </ul>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="d-flex justify-content-center mr-5">
      <pagination-controls (pageChange)="p = $event" class="paginacion" previousLabel="Anterior"
        nextLabel="Siguiente">></pagination-controls>
    </div>

  </div>
</section>
}@placeholder {
<div class="container-fluid mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="bg-light p-5 shadow-sm rounded">
          <p class="text-center text-muted font-weight-bold">Cargando...</p>
          <div class="spinner-border text-primary d-block mx-auto" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}

<!-- End Content -->
