@defer () {



<section>
  <div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="w-100" src="imgs/nosotros-fondo.jpg" alt="Madera">
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 80%; max-height: 70%;">
              <h1 class="text-white mb-md-4 poppins-bold display-30 text-center">En Maderería Capilla,
                llevamos más de
                40 años
                siendo tu aliado en productos madereros de calidad.
                Descubre más sobre nuestra historia, valores y lo que
                nos hace únicos.</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid py-5 mt-5">
    <div class="container">
      <div class="text-center">
        <h1 class="display-4">Desde 1980</h1>
      </div>
      <div class="row">
        <div class="col-lg-4 py-0 py-lg-5">
          <p>En el encantador pueblo de Capilla de
            Guadalupe, ubicado en los Altos de Jalisco.
            Desde nuestros inicios, nos hemos
            dedicado a la venta al mayoreo y
            menudeo de productos madereros
            procesados y prefabricados,
            consolidándonos como líderes en la región.
            Con más de 40 años de trayectoria, hemos
            forjado alianzas con empresas líderes en sus
            respectivos sectores, lo que nos ha permitido
            expandir nuestra oferta y convertirnos en
            proveedores de confianza para instituciones
            gubernamentales, empresas y organizaciones
            reconocidas, tanto en la zona metropolitana de
            Guadalajara como en otras regiones.
            Misión
            Nuestra misión es ser la primera opción en
            soluciones madereras en Jalisco, destacándonos
            por la calidad, servicio al cliente y compromiso
            con nuestra comunidad.
          </p>
        </div>
        <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100" src="imgs/nosotros.png" style="object-fit: cover;">
          </div>
        </div>
        <div class="col-lg-4 py-0 py-lg-5">
          <p>En Maderería Capilla, ofrecemos una amplia
            gama de productos de calidad como:
            Maderas sólidas como pino, cedro, caoba,
            encino, mezquite y más.Tableros
            Tableros y listones de diversos materiales,
            incluyendo MDF, melamina, y enchapes.
            Prefabricados como puertas, bancos,
            sillas y muebles diversos.
            Tornos para escaleras, patas para camas
            y mesas, entre otros.
            Además, distribuimos ferretería y material
            eléctrico para carpintería y hogar, siempre
            ajustándonos a las necesidades de nuestros
            clientes.
          </p>

          <a routerLink="/productos" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">Ver Maderas</a>
        </div>
      </div>


    </div>
  </div>

</section>
}@placeholder {
<div class="container-fluid mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="bg-light p-5 shadow-sm rounded">
          <p class="text-center text-muted font-weight-bold">Cargando...</p>
          <div class="spinner-border text-primary d-block mx-auto" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
