<section class="container-fluid my-1">
  <div class="container pt-1 pb-5">
    @if (title) {
    <h2 class="poppins-bold-brown text-center">{{title}}</h2>
    }
    <owl-carousel-o [options]="{
        items: 3,
        margin: 10,
        loop: true,
        dots: false,
        nav: false,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true,
        responsive: { '0': { items: 1 }, '576': { items: 2 }, '992': { items: 3 } }
      }">
      @for (item of productos; track item.id) {
      <ng-container>
        <ng-template carouselSlide>
          <div class="item">
            <div class="card text-white">
              <div class="rounded-0">
                <img src="{{ item.image }}" class="card-img w-100" alt="{{ item.name }}"
                  style=" filter: brightness(0.5); object-position: center; object-fit: cover; height: 640px;">
              </div>
              <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center text-center">
                <h4 class="card-title">{{ item.name }}</h4>
                <p class="card-text">{{ item.descriptions }}</p>
                <a class="btn btn-primary mt-3" [routerLink]="['/productos', item.nameRoutes]"
                  (click)="scrollToTop()">Ver
                  Producto</a>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
      }
    </owl-carousel-o>
  </div>
</section>