.service-item {
  position: relative;
  overflow: hidden;
}

.service-text {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.service-text h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service-text p {
  font-size: 14px;
}
