<section>
  <div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="img">
            <img src="imgs/privacidad.jpg" alt="Madera">
          </div>
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="width: 900px;">
              <h1 class="screen-h1 text-white mb-md-4 poppins-extrabold">Politicas de Privacidad
                Madreria Capilla
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid my-lg-5">
  <div class="container">
    <p class="poppins-medium" style="font-size: 1.25rem; ">En Maderería Capilla, nos comprometemos a proteger la
      privacidad
      de nuestros clientes. A continuación, se
      detallan nuestras políticas de privacidad para garantizar la transparencia y la confianza en el manejo de sus
      datos personales.</p>
    <h1 class="poppins-extrabold-brown">Recolección de Información</h1>
    <p class="poppins-medium" style="font-size: 1.25rem; ">Recopilamos información personal, como nombre, dirección,
      correo
      electrónico y número de teléfono, cuando
      usted se registra en nuestro sitio, realiza un pedido o se comunica con nosotros. Esta información es esencial
      para
      procesar sus pedidos y mejorar nuestro servicio.</p>
    <h1 class="poppins-extrabold-brown">Uso de la Información</h1>
    <p class="poppins-medium" style="font-size: 1.25rem; ">Utilizamos su información personal para:
      Procesar y gestionar sus pedidos.
      Mejorar nuestro sitio web y servicio al cliente.
      Enviar actualizaciones sobre sus pedidos y ofertas promocionales.</p>
    <h1 class="poppins-extrabold-brown">Protección de la Información</h1>
    <p class="poppins-medium" style="font-size: 1.25rem; ">Implementamos una variedad de medidas de seguridad para
      mantener
      la seguridad de su información personal.
      Utilizamos tecnología de encriptación para proteger sus datos durante las transacciones y almacenamos su
      información en servidores seguros.</p>
    <h1 class="poppins-extrabold-brown">Compartir Información</h1>
    <p class="poppins-medium" style="font-size: 1.25rem; ">No vendemos, intercambiamos ni transferimos su información
      personal a terceros sin su consentimiento, salvo
      cuando sea necesario para completar una transacción o cumplir con la ley.</p>
    <h1 class="poppins-extrabold-brown">Cookies</h1>
    <p class="poppins-medium" style="font-size: 1.25rem; ">Utilizamos cookies para mejorar su experiencia en nuestro
      sitio
      web. Las cookies son pequeños archivos que se
      almacenan en su dispositivo y nos ayudan a recordar sus preferencias y optimizar el rendimiento del sitio.</p>
    <h1 class="poppins-extrabold-brown">Consentimiento</h1>
    <p class="poppins-medium" style="font-size: 1.25rem; ">Al utilizar nuestro sitio web, usted acepta nuestras
      políticas
      de
      privacidad. Nos reservamos el derecho de
      modificar estas políticas en cualquier momento, y le notificaremos cualquier cambio en esta página.</p>
    <h1 class="poppins-extrabold-brown">Contacto</h1>
    <p class="poppins-medium" style="font-size: 1.25rem; ">Si tiene alguna pregunta sobre nuestras políticas de
      privacidad,
      no dude en contactarnos a través de nuestro
      correo electrónico <strong style="color: rgb(75, 27, 7)">{{email}}</strong> o llamando al <strong
        style="color: rgb(75, 27, 7)">{{telefono}}</strong>.
    </p>
  </div>

</section>