@defer () {
<section>
  <div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="img">
            <img src="imgs/imagen_inicio.webp" alt="Madera">
          </div>
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div style="max-width: 80%; max-height: 70%;">
              <h1 class="screen-h1 text-white mb-md-4 poppins-extrabold text-center">Tu aliado en maderas sólidas
                para proyectos de carpintería
                y construcción
              </h1>
              <h4 class="screen-h4 text-white mb-md-4 poppins-medium text-center">Más de 40 años ofreciendo
                maderas
                sólidas y productos derivados
                con entrega rápida y atención personalizada.
              </h4>
            </div>
            <div>
              <button class="btn bg-primary text-white btn-font">
                Cotiza ahora
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid my-lg-5">
  <div class="container mt-4 pt-5 pb-5">
    <div class="row align-items-center h-100">
      <div class="col-xl-6 d-flex flex-column justify-content-center pr-5">
        <p class="poppins-medium" style="font-size: 1.25rem; ">
          Si alguna vez has tenido problemas con la
          disponibilidad o calidad de la madera, sabemos
          lo frustrante que puede ser. En nuestra maderería,
          rompemos esos obstáculos con un amplio
          inventario, entregas rápidas y la opción de que
          selecciones personalmente el material que
          necesitas. Además, ofrecemos servicios de
          transformación de madera (como cepillado,
          machihembrado y dimensionado) para que te
          lleves justo lo que tu proyecto requiere,
          listo para usar.

        </p>
        <p class="poppins-medium" style="font-size: 1.25rem; ">
          Nuestra atención es personalizada y estamos
          comprometidos en crear relaciones comerciales
          a largo plazo, siendo tu aliado confiable en
          cada proyecto.
        </p>
      </div>
      <div class="col-xl-6 espacio-sm">

        <div class="img-with-background"></div>
        <img src="imgs/seg.jpg" class="img-fluid w-100" alt="4 en 1">

      </div>
    </div>
  </div>
</section>



<section class="container-fluid my-3">
  <div class="container pt-1 pb-0">
    <div class="ratio ratio-1x1">
      <video src="videos/video-1.mp4" poster="imgs/poster.jpeg" controls preload="metadata"
        class="img-fluid w-100 h-100" style="object-fit: cover; object-position: 65% 5%;"></video>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid py-2">
    <div class="container pt-3">
      <div class="row">
        <div class="col-lg-6">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100" src="imgs/tercer_secc_3.webp"
              style="object-fit: cover; object-position: 10% 5%;">
          </div>
        </div>
        <div class="col-lg-6 pt-3 pb-lg-3">
          <div class="about-text bg-sm p-2 p-lg-3 my-lg-3">
            <p class="poppins-medium" style="font-size: 1.25rem;">Contamos con una gran variedad de productos de
              calidad y servicios para cubrir todas las necesidades
              del mercado de la madera:</p>
            <p class="poppins-medium" style="font-size: 1.25rem;">
              - Maderas sólidas: Pino, Poplar, Encino, Rosa Morada,
              Parota, Caoba y Cedro.</p>
            <p class="poppins-medium" style="font-size: 1.25rem;">
              - Productos derivados: Molduras, tableros, multiplay,
              listones y enchapados.
            </p>
            <p class="poppins-medium" style="font-size: 1.25rem;">
              - Madera para construcción: Polines, barrotes, cimbras,
              duelas y más.
            </p>
            <p class="poppins-medium" style="font-size: 1.25rem;">
              - Productos especiales: Sillas, bancos, percheros,
              machihembrados y cubiertas para cocinas.
            </p>
            <p class="poppins-medium" style="font-size: 1.25rem;">
              - Servicios: Dimensionado y cepillado de madera,
              con entrega rápida.

            </p>
            <div class="row mb-2">
              <div class="col-6">
                <img class="img-fluid w-100" src="imgs/tercer_secc_2.jpg" alt="" data-aos="fade-up"
                  data-aos-delay="100">
              </div>
              <div class="col-6">
                <img class="img-fluid w-100" src="imgs/tercer_secc_1.jpg" alt="" data-aos="fade-up"
                  data-aos-delay="200">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Sección Disponibilidad, Durabilidad y Acabado -->
<div class="container-fluid pb-2">
  <div class="container pb-2">
    <div class="row">
      <div class="col-xl-4">
        <div class="d-flex mb-4 mb-xl-0">
          <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
            style="height: 100px; width: 100px;">
            <i class="fa fa-2x fa-money-check-alt text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h5 class="poppins-extrabold-brown" style="font-size: 1.11rem;">Disponibilidad</h5>
            <p class="m-0 poppins-regular" style="font-size: 0.9rem;">Variedad de maderas que
              que puedan adquirirse
              en grandes cantidades.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="d-flex mb-4 mb-xl-0">
          <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
            style="height: 100px; width: 100px;">
            <i class="fa fa-2x fa-award text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h5 class="poppins-extrabold-brown" style="font-size: 1.11rem;">Durabilidad y Resistencia</h5>
            <p class="m-0 poppins-regular" style="font-size: 0.9rem;">Maderas que soportan cargas
              pesadas y condiciones
              climáticas adversas.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="d-flex mb-4 mb-xl-0">
          <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
            style="height: 100px; width: 100px;">
            <i class="fa fa-2x fa-globe text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h5 class="poppins-extrabold-brown" style="font-size: 1.11rem;">Acabado y Textura</h5>
            <p class="m-0 poppins-regular" style="font-size: 0.9rem;">La textura y el acabado
              de la madera son cruciales
              para obtener muebles de
              alta calidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="container-fluid my-3">
  <div class="container pb-2">
    <div class="grid-container">
      <div class="grid-item"><img src="imgs/image1.jpg" alt="Office supplies 1"></div>
      <div class="grid-item"><img src="imgs/image2.jpg" alt="Office supplies 2"></div>
      <div class="grid-item"><img src="imgs/image3.jpg" alt="Office supplies 3"></div>
      <div class="grid-item"><img src="imgs/image4.jpg" alt="Office supplies 4"></div>
      <div class="grid-item"><img src="imgs/image5.jpg" alt="Office supplies 5"></div>
      <div class="grid-item"><img src="imgs/image6.jpg" alt="Office supplies 6"></div>
      <div class="grid-item"><img src="imgs/image7.jpg" alt="Office supplies 7"></div>
      <div class="grid-item"><img src="imgs/image8.jpg" alt="Office supplies 8"></div>
    </div>
  </div>
</section>

<section class="container-fluid my-lg-5">
  <div class="container mt-3 pt-5 pb-5">
    <div class="row align-items-center h-100">
      <div class="col-xl-6">
        <div class="img-with-backgrounds"></div>
        <img src="imgs/seg2.jpg" class="img-fluid w-100" alt="4 en 1">

      </div>
      <div class="col-xl-6 d-flex flex-column justify-content-center pr-5 mt-4">
        <h2 class="poppins-extrabold-brown">Cada cliente es único: Atención
          personalizada en cada compra</h2>
        <p class="poppins-medium" style="font-size: 1.25rem; ">
          Nuestro enfoque está en el trato cercano y personal con el
          cliente. Siempre estamos dispuestos a negociar para encontrar
          la mejor solución para ti, con precios accesibles y un servicio
          rápido que asegura que tus proyectos nunca se detengan.


        </p>
        <p class="poppins-medium" style="font-size: 1.25rem; ">
          Nuestra promesa es simple: creamos relaciones comerciales
          duraderas, basadas en la confianza y la satisfacción total de
          nuestros clientes. Si trabajas con nosotros, tendrás un socio
          comprometido con el éxito de tus proyectos.

        </p>
      </div>
    </div>
  </div>
</section>

<!-- Sección Tipos de Materiales -->
<app-carousel-productos [title]="'Tipo de materiales'"></app-carousel-productos>

<!-- Sección Únete a Nuestros Clientes Satisfechos -->
<section class="container-fluid my-1 text-center">
  <div class="container pt-5 pb-5">
    <h2 class="poppins-bold-brown">Únete a Nuestros Clientes Satisfechos y Transforma
      Tus Proyectos con Madera de Calidad</h2>
    <img src="imgs/clientes.jpg" alt="Nuestros clientes" class="w-100">
  </div>
</section>

<section class="container-fluid my-lg-5">
  <div class="container pt-3 pb-2">
    <div class="row align-items-center h-100">
      <div class="col-xl-6 d-flex flex-column justify-content-center pr-5">
        <p class="poppins-medium" style="font-size: 1.25rem; ">
          No esperes más para descubrir cómo podemos
          ayudarte a que tu proyecto sea un éxito.

        </p>
        <p class="poppins-medium" style="font-size: 1.25rem; ">
          Contáctanos hoy mismo para una cotización
          personalizada o ven a nuestra maderería y conoce
          de primera mano la calidad de nuestros productos.
        </p>

        <p class="poppins-medium" style="font-size: 1.25rem; ">
          ¡Cotiza ahora o visítanos! Aquí, siempre
          encontrarás la solución que buscas, con la calidad
          y el servicio que mereces.
        </p>
        <div>
          <button class="btn bg-primary text-white">
            Cotiza ahora
          </button>
        </div>

      </div>
      <div class="col-xl-6 espacio-sm">

        <div class="img-with-background"></div>
        <img src="imgs/seg1.jpg" class="img-fluid w-100" alt=" Cotiza ">

      </div>
    </div>
  </div>
</section>

<!-- Sección Preguntas Frecuentes -->
<section class="container-fluid my-5 ">
  <div class="container pt-5 pb-5">
    <h2 class="poppins-bold-brown text-center">Preguntas Frecuentes</h2>
    <div class="accordion" id="faqAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            ¿Qué tipo de madera ofrecen y cómo puedo saber cuál es la mejor para mi proyecto?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Ofrecemos una amplia selección de maderas sólidas de primera calidad, como Pino, Poplar, Encino, Rosa
            Morada, Parota,
            Caoba y Cedro. Si no estás seguro de cuál es la mejor opción para tu proyecto, no te preocupes. Nuestro
            equipo de
            expertos estará encantado de asesorarte, ya sea que necesites madera para construcción, carpintería fina o
            proyectos
            particulares. Además, podrás elegir personalmente el material que más se ajuste a tus necesidades para que
            siempre
            tengas lo mejor.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Qué tan rápido pueden entregarme la madera después de hacer el pedido?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Sabemos lo importante que es cumplir con los plazos de tu proyecto, por eso nos enorgullecemos de nuestras
            entregas
            rápidas. Gracias a nuestro amplio inventario, podemos procesar y enviar la mayoría de los pedidos de manera
            inmediata.
            Dependiendo de tu ubicación, puedes recibir tu madera en tan solo 24 a 48 horas. Y si necesitas algo
            especial, también
            ofrecemos cortes personalizados para que recibas justo lo que necesitas, listo para usar.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Puedo pedir productos de madera a medida o personalizados?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            ¡Por supuesto! Nos especializamos en ofrecer soluciones personalizadas para cada cliente. Si tienes una idea
            específica
            o medidas que necesitas, contamos con servicios de dimensionado, cepillado, torneado, machihembrado y más.
            Todo lo que
            necesitas hacer es decirnos los detalles, y nosotros nos encargaremos de preparar los materiales exactos
            para tu
            proyecto. Tu satisfacción es nuestra prioridad, así que siempre estamos listos para adaptarnos a tus
            requerimientos.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            ¿Qué los hace diferentes de otras madererías en la región?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Lo que nos diferencia es nuestro compromiso total con el éxito de tu proyecto. No solo te ofrecemos
            productos de calidad
            y precios competitivos, sino que también nos dedicamos a construir relaciones a largo plazo con nuestros
            clientes. Nos
            preocupamos por cada detalle: desde que eliges la madera hasta que la recibes. Si no tenemos lo que
            necesitas, lo
            conseguimos. Además, nuestra atención personalizada te garantiza que siempre serás escuchado y que
            resolveremos
            cualquier duda o necesidad especial que tengas. Con nosotros, tendrás un aliado confiable para cada paso de
            tu proyecto.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>









}@placeholder {
<div class="container-fluid mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="bg-light p-5 shadow-sm rounded">
          <p class="text-center text-muted font-weight-bold">Cargando...</p>
          <div class="spinner-border text-primary d-block mx-auto" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}