@defer () {
<section>
  <div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="w-100" src="imgs/imagen_inicio.webp" alt="Madera">
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 80%; max-height: 70%;">
              <h1 class="display-2-c text-white mb-md-3 poppins-extrabold text-center">"Maderería Capilla"</h1>
              <h1 class="display-2-c text-white mb-md-4 poppins-extrabold text-center">Tu Mejor Opción en Madera de
                Calidad y
                Triplay
              </h1>
              <h4 class="text-white mb-md-4 poppins-medium display-29 text-center">Proveedor de una amplia variedad de
                maderas y
                triplay para <br>
                construcción, muebles y más</h4>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="w-100" src="imgs/329.jpg" alt="Madera">
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 900px;">
              <h1 class="display-2-c text-white mb-md-3 poppins-extrabold">"Maderería Capilla"</h1>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
          <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
          <span class="carousel-control-next-icon mb-n2"></span>
        </div>
      </button>
    </div>
  </div>
</section>

<section class="container-fluid my-lg-5 p-5">
  <div class="container pt-5 pb-5">
    <div class="row align-items-center h-100">
      <div class="col-xl-6 d-flex flex-column justify-content-center pr-5">
        <h2 class="poppins-extrabold-brown tab">Problemática al Buscar Maderas</h2>
        <p class="poppins-medium" style="font-size: 1.25rem; color:black">
          Enfrentar desafíos en la adquisición de madera es una realidad constante.
        </p>
        <p class="poppins-medium" style="font-size: 1.25rem; color:black">
          La disponibilidad y variedad de maderas de alta calidad son limitadas; los proveedores locales a menudo no
          tienen la gama necesaria para diversos proyectos. Los costos de transporte y logística son significativos,
          especialmente para grandes volúmenes, elevando los costos y causando retrasos que afectan los plazos de
          entrega y la satisfacción del cliente.
        </p>
      </div>
      <div class="col-xl-6 espacio-sm">

        <div class="img-with-background"></div>
        <img src="imgs/seg.jpg" class="img-fluid" alt="4 en 1">

      </div>
    </div>
  </div>
</section>



<section class="container-fluid my-5">
  <div class="container pt-5 pb-0">
    <div class="ratio ratio-1x1">
      <video src="videos/video-1.mp4" poster="imgs/poster.jpeg" controls preload="metadata"
        class="img-fluid w-100 h-100" style="object-fit: cover; object-position: 65% 5%;"></video>
    </div>
  </div>
</section>

<section id="about">
  <div class="container-fluid py-3">
    <div class="container pt-3">
      <div class="row">
        <div class="col-lg-6">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100" src="imgs/tercer_secc_3.webp"
              style="object-fit: cover; object-position: 10% 5%;">
          </div>
        </div>
        <div class="col-lg-6 pt-3 pb-lg-3">
          <div class="about-text bg-sm p-2 p-lg-3 my-lg-3">
            <h1 class="mb-2 poppins-extrabold-brown" style="font-size: 3.125rem;">Nosotros</h1>
            <p class="poppins-medium" style="font-size: 1.25rem;">En Maderería Capilla, nos dedicamos a ofrecer la mejor
              selección de maderas y productos derivados para tus
              proyectos de construcción, muebles y decoración.</p>
            <p class="poppins-medium" style="font-size: 1.25rem;">
              Nuestro compromiso con la calidad y el servicio nos
              distingue en el mercado, brindándote materiales
              duraderos y soluciones personalizadas que se adaptan
              a tus necesidades.</p>
            <p class="poppins-medium" style="font-size: 1.25rem;">
              nos esforzamos por ser tu aliado confiable en cada
              proyecto, proporcionando no solo materiales, sino
              también la experiencia y el soporte que necesitas
              para llevar a cabo tus ideas de manera exitosa..</p>
            <div class="row mb-2">
              <div class="col-6">
                <img class="img-fluid" src="imgs/tercer_secc_2.webp" alt="" data-aos="fade-up" data-aos-delay="100">
              </div>
              <div class="col-6">
                <img class="img-fluid" src="imgs/tercer_secc_1.webp" alt="" data-aos="fade-up" data-aos-delay="200">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Sección Disponibilidad, Durabilidad y Acabado -->
<div class="container-fluid pb-5">
  <div class="container pb-5">
    <div class="row">
      <div class="col-xl-4">
        <div class="d-flex mb-4 mb-xl-0">
          <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
            style="height: 100px; width: 100px;">
            <i class="fa fa-2x fa-money-check-alt text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h5 class="poppins-extrabold-brown" style="font-size: 1.11rem;">Disponibilidad</h5>
            <p class="m-0 poppins-regular" style="font-size: 0.9rem;">Variedad de maderas que
              que puedan adquirirse
              en grandes cantidades.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="d-flex mb-4 mb-xl-0">
          <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
            style="height: 100px; width: 100px;">
            <i class="fa fa-2x fa-award text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h5 class="poppins-extrabold-brown" style="font-size: 1.11rem;">Durabilidad y Resistencia</h5>
            <p class="m-0 poppins-regular" style="font-size: 0.9rem;">Maderas que soportan cargas
              pesadas y condiciones
              climáticas adversas.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="d-flex mb-4 mb-xl-0">
          <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
            style="height: 100px; width: 100px;">
            <i class="fa fa-2x fa-globe text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h5 class="poppins-extrabold-brown" style="font-size: 1.11rem;">Acabado y Textura</h5>
            <p class="m-0 poppins-regular" style="font-size: 0.9rem;">La textura y el acabado
              de la madera son cruciales
              para obtener muebles de
              alta calidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="container-fluid my-5">
  <div class="container pb-5">
    <div class="grid-container">
      <div class="grid-item"><img src="imgs/image1.jpg" alt="Office supplies 1"></div>
      <div class="grid-item"><img src="imgs/image2.jpg" alt="Office supplies 2"></div>
      <div class="grid-item"><img src="imgs/image3.jpg" alt="Office supplies 3"></div>
      <div class="grid-item"><img src="imgs/image4.jpg" alt="Office supplies 4"></div>
      <div class="grid-item"><img src="imgs/image5.jpg" alt="Office supplies 5"></div>
      <div class="grid-item"><img src="imgs/image6.jpg" alt="Office supplies 6"></div>
      <div class="grid-item"><img src="imgs/image7.jpg" alt="Office supplies 7"></div>
      <div class="grid-item"><img src="imgs/image8.jpg" alt="Office supplies 8"></div>
    </div>
  </div>
</section>

<!-- Sección Tipos de Materiales -->
<section class="container-fluid my-5 p-5">
  <div class="container pt-5 pb-5">
    <h2 class="poppins-bold-brown text-center">Tipos de Materiales</h2>
    <owl-carousel-o
      [options]="{ items: 3, margin: 10, loop: true, dots: false, nav: false, autoplay: true, autoplayTimeout: 3000, autoplayHoverPause: true }">
      @for (item of productos; track item.id) {
      <ng-container>
        <ng-template carouselSlide>
          <div class="service-item position-relative">
            <img class="img-fluid" [src]="item.image" alt="{{ item.name }}">
            <div class="service-text text-center">
              <h4 class="text-white font-weight-medium px-3">{{ item.name }}</h4>
              <p class="text-white px-3 mb-3">{{ item.description }}</p>
              <div class="w-100 text-center p-4">
                <a class="btn btn-primary" [routerLink]="['/productos', item.id]">Ver Producto</a>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
      }
    </owl-carousel-o>
  </div>
</section>

<!-- Sección Únete a Nuestros Clientes Satisfechos -->
<section class="container-fluid my-5 p-5  text-center">
  <div class="container pt-5 pb-3">
    <h2 class="poppins-bold-brown">Únete a Nuestros Clientes Satisfechos y Transforma
      Tus Proyectos con Madera de Calidad</h2>
    <img src="imgs/clientes.jpg" alt="Nuestros clientes" class="w-100">
  </div>
</section>


<!-- Sección Preguntas Frecuentes -->
<section class="container-fluid my-5 p-5 ">
  <div class="container pt-5 pb-5">
    <h2 class="poppins-bold-brown text-center">Preguntas Frecuentes</h2>
    <div class="accordion" id="faqAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            ¿En qué zonas ofrecen envíos?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Ofrecemos envíos a todo el país. Los costos y tiempos de envío varían según la ubicación y el tamaño del
            pedido. Puedes obtener una estimación del costo de envío al ingresar tu dirección durante el proceso de
            compra.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Puedo solicitar cortes personalizados?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Sí, ofrecemos servicios de corte personalizado para adaptarse a las necesidades específicas de tu proyecto.
            Contáctanos para obtener más detalles.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Cómo puedo contactar con su equipo para obtener asesoría técnica?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Puedes contactarnos a través de nuestro formulario de contacto en el sitio web, o llamarnos directamente al
            número proporcionado en nuestra página de contacto.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            ¿Qué debo hacer si mi pedido llega dañado?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Si tu pedido llega dañado, por favor contáctanos inmediatamente para que podamos resolver el problema lo
            antes
            posible. Estamos comprometidos con la satisfacción del cliente.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>









}@placeholder {
<div class="container-fluid mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="bg-light p-5 shadow-sm rounded">
          <p class="text-center text-muted font-weight-bold">Cargando...</p>
          <div class="spinner-border text-primary d-block mx-auto" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
