.tab {
  text-align: left;
  line-height: 89px;
  line-break: normal;
  font-size: 59px;
}

@media (max-width: 1231.5px) {
  .tab {
    text-align: left;
    line-height: 1.6;
    line-break: normal;
    font-size: 2.6rem;
  }
}
@media (max-width: 1051px) {
  .tab {
    text-align: left;
    line-height: 1.6;
    line-break: normal;
    font-size: 2.5rem;
  }
}
@media (max-width: 991.2px) {
  .tab {
    text-align: left;
    line-height: 1.5;
    line-break: normal;
    font-size: 2.2rem;
  }
}
@media (max-width: 767px) {
  .tab {
    text-align: left;
    line-height: 1.2;
    line-break: normal;
    font-size: 2rem;
  }
}
