<div class="container-fluid p-0" style="position: relative; margin-top: -35px;">
  <img class="img-fluid w-100" src="imgs/galeria-1.jpg" alt="banner" style="filter: brightness(0.5) contrast(1);">
  <div class="position-absolute start-50 translate-middle text-center" style="max-width: 900px; top: 40%;">
    <h1 class="text-white poppins-bold" style="font-size: 3.5vw; margin: 0;">"Maderería Capilla"</h1>
    <h1 class="text-white poppins-bold" style="font-size: 3.5vw; margin: 0;">Tu Mejor Opción en Madera de
      Calidad y
      Triplay</h1>
    <p class="text-white poppins-bold" style="font-size: 1.5vw; margin: 0;">Proveedor de una amplia variedad
      de maderas
      y triplay para construcción, muebles y más</p>
  </div>
</div>
