@defer () {
<section class="container-fluid my-5">
  <div class="container pb-5">
    @if (product) {
    <div class="row">
      <div class="col-lg-5 mt-5">
        <div class="card mb-3">
          <img class="card-img w-100" [src]="mainImage" alt="Card image cap" id="product-detail">
        </div>
        <div class="row">
          <!--Start Controls-->
          <div class="col-1 d-flex align-items-center">
            <a href="#multi-item-example" role="button" data-bs-slide="prev">
              <i class="text-dark fas fa-chevron-left"></i>
              <span class="visually-hidden">Previous</span>
            </a>
          </div>
          <!--End Controls-->

          <!--Start Carousel Wrapper-->
          <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
            <!--Start Slides-->
            <div class="carousel-inner" role="listbox">
              <!--First slide-->
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-4">
                    <a (click)="updateMainImage('{{product.image}}')" style="cursor: pointer;">
                      <img class="card-img img-fluid w-100" src="{{product.image}}" alt="Product Image 1">
                    </a>
                  </div>
                  <div class="col-4">
                    <a (click)="updateMainImage('{{product.image}}')" style="cursor: pointer;">
                      <img class="card-img img-fluid w-100" src="{{product.image}}" alt="Product Image 2">
                    </a>
                  </div>
                  <div class="col-4">
                    <a (click)="updateMainImage('{{product.image}}')" style="cursor: pointer;">
                      <img class="card-img img-fluid w-100" src="{{product.image}}" alt="Product Image 3">
                    </a>
                  </div>
                </div>
              </div>
              <!--/.First slide-->

              <!--Second slide-->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-4">
                    <a (click)="updateMainImage('{{product.image}}')" style="cursor: pointer;">
                      <img class="card-img img-fluid w-100" src="{{product.image}}" alt="Product Image 4">
                    </a>
                  </div>
                  <div class="col-4">
                    <a (click)="updateMainImage('{{product.image}}')" style="cursor: pointer;">
                      <img class="card-img img-fluid w-100" src="{{product.image}}" alt="Product Image 5">
                    </a>
                  </div>
                  <div class="col-4">
                    <a (click)="updateMainImage('{{product.image}}')" style="cursor: pointer;">
                      <img class="card-img img-fluid w-100" src="{{product.image}}" alt="Product Image 6">
                    </a>
                  </div>
                </div>
              </div>
              <!--/.Second slide-->

              <!--Third slide-->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-4">
                    <a (click)="updateMainImage('{{product.image}}')" style="cursor: pointer;">
                      <img class="card-img img-fluid w-100" src="{{product.image}}" alt="Product Image 7">
                    </a>
                  </div>
                  <div class="col-4">
                    <a (click)="updateMainImage('{{product.image}}')" style="cursor: pointer;">
                      <img class="card-img img-fluid w-100" src="{{product.image}}" alt="Product Image 8">
                    </a>
                  </div>
                  <div class="col-4">
                    <a (click)="updateMainImage('{{product.image}}')" style="cursor: pointer;">
                      <img class="card-img img-fluid w-100" src="{{product.image}}" alt="Product Image 9">
                    </a>
                  </div>
                </div>
              </div>
              <!--/.Third slide-->
            </div>
            <!--End Slides-->
          </div>
          <!--End Carousel Wrapper-->

          <!--Start Controls-->
          <div class="col-1 d-flex align-items-center">
            <a href="#multi-item-example" role="button" data-bs-slide="next">
              <i class="text-dark fas fa-chevron-right"></i>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
          <!--End Controls-->
        </div>



      </div>
      <div class="col-lg-7 mt-5">
        <div class="card">
          <div class="card-body">
            <h1 class="h2 poppins-bold-brown">{{ product.name }}</h1>
            <p class="h3 py-2"></p>
            <h6>Caracteristicas Sobresalientes:</h6>
            <p class="text-f" [innerHTML]="product.description"></p>

            <h6>Colores Disponibles:</h6>
            <ul class="list-inline">
              <li class="list-inline-item">
                @for (color of product.colors; track color) {
                <span [ngClass]="color" class="product-color-dot float-start rounded-circle ms-1"></span>
                }
              </li>
            </ul>
            <button class="btn btn-green rounded"><i class="fa-brands fa-whatsapp"></i> WhastApp</button>


          </div>
        </div>
      </div>
    </div>


    } @else {
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="bg-light p-5 shadow-sm rounded">
            <p class="text-center text-muted font-weight-bold">Cargando...</p>
            <div class="spinner-border text-primary d-block mx-auto" role="status">
              <span class="visually-hidden"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</section>
<app-carousel-productos [title]="'Mas tipos de Maderas'"></app-carousel-productos>
}@placeholder {
<div class="container-fluid mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="bg-light p-5 shadow-sm rounded">
          <p class="text-center text-muted font-weight-bold">Cargando...</p>
          <div class="spinner-border text-primary d-block mx-auto" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
