.product-color-dot {
  width: 15px;
  height: 15px;
  display: inline-block;
}
.carousel-control-prevs,
.carousel-control-nexts {
  position: absolute;
  top: 50%;
  width: 5%;
  height: 50px; /* Ajusta la altura según sea necesario */
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente, opcional */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(-50%);
}

.carousel-control-prevs {
  left: 0;
}

.carousel-control-nexts {
  right: 0;
}
