<!-- Footer Start -->
<div class="container-fluid text-white-50 py-5 px-sm-3 px-lg-5" style="background-color: #4c2f00; margin-top: 200px;">
  <div class="row pt-5">
    <div class="col-lg-4 col-md-6 mb-5">
      <h1 class="text-white poppins-bold">Madererias Capilla</h1>
      <p class="text-white poppins-regular">
        En Maderería Capilla, nos dedicamos a ofrecer la mejor selección de
        maderas y productos derivados para tus proyectos de construcción,
        muebles y decoración.
      </p>
      <h6 class="text-white text-uppercase mt-4 mb-3 poppins-bold">Síguenos</h6>
      <div class="d-flex justify-content-start">
        <a class="text-white text-decoration-none poppins-bolds"
          href="https://www.facebook.com/p/Madereria-Capilla-100063605408824/?_rdr" target="_blank"><i
            class="fa-brands fa-facebook fa-lg"></i>
          Madererias Capilla
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-5">
      <h5 class="text-white text-uppercase mb-4 poppins-bold">
        Nuestros Servicios
      </h5>
      <div class="d-flex flex-column justify-content-start">
        <a class="text-white mb-2 text-decoration-none poppins-regular" (click)="scrollTop()" routerLink="/nosotros"><i
            class="fa fa-angle-right mr-2"></i>Acerca de</a>
        <a class="text-white mb-2 text-decoration-none poppins-regular" (click)="scrollTop()" routerLink="/contacto"><i
            class="fa fa-angle-right mr-2"></i>Contacto</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-5">
      <h5 class="text-white text-uppercase mb-4 poppins-bold">
        Enlaces Útiles
      </h5>
      <div class="d-flex flex-column justify-content-start">
        <a class="text-white mb-2 text-decoration-none poppins-regular" (click)="scrollTop()"
          routerLink="/privacidad"><i class="fa fa-angle-right mr-2"></i>Política de Privacidad</a>
        <!-- <a class="text-white mb-2 text-decoration-none poppins-regular" (click)="scrollTop()"
          routerLink="/terminos-y-condiciones"><i class="fa fa-angle-right mr-2"></i>Términos y Condiciones</a>-->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-white border-top py-4 px-sm-3 px-md-5" style="
    background-color: #4c2f00;
    border-color: rgba(256, 256, 256, 0.1) !important;
  ">
  <div class="row">
    <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
      <p class="m-0 text-white poppins-regular">
        &copy;
        <a class="hover-a text-white text-decoration-none poppins-bold" (click)="scrollTop()" routerLink="/">Madererias
          Capilla</a>.
        Todos los
        derechos reservados.
      </p>
    </div>
  </div>
</div>
<!-- Footer End -->