<div class="container-fluid bg-light text-dark pt-5 pb-3" style="margin-top: 90px;">
  <div class="container-lg">
    <div class="row">
      <div class="col-lg-4 mb-3 mb-lg-0">
        <h5 class="text-uppercase poppins-extrabold">Madererías Capilla</h5>
        <p class="poppins-extrabold">Ofrecemos productos de madera de la más alta calidad. Contáctanos para más
          información sobre nuestros
          servicios y productos.</p>
        <a class="btn btn-primary poppins-extrabold" href="mailto:info@madereriascapilla.com">Contáctanos</a>
      </div>
      <div class="col-lg-4 mb-3 mb-lg-0">
        <h5 class="text-uppercase poppins-extrabold">Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li><a class="text-dark poppins-extrabold" href="/" routerLink="/" routerLinkActive="active">Inicio</a></li>
          <li><a class="text-dark poppins-extrabold" href="/productos" routerLink="/productos"
              routerLinkActive="active">Productos</a>
          </li>
          <li><a class="text-dark poppins-extrabold" href="">Servicios</a></li>
          <li><a class="text-dark poppins-extrabold" href="">Nosotros</a></li>
          <li><a class="text-dark poppins-extrabold" href="/contacto" routerLink="/contacto"
              routerLinkActive="active">Contacto</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h5 class="text-uppercase poppins-extrabold">Síguenos</h5>
        <ul class="list-unstyled d-flex">
          <li class="me-3"><a class="text-dark" href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="me-3"><a class="text-dark" href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
          <li class="me-3"><a class="text-dark" href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
          </li>
          <li><a class="text-dark" href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-4">
      <p class="m-0 poppins-extrabold">&copy; 2024 Madererías Capilla. Todos los derechos reservados.</p>
    </div>
  </div>
</div>